# ignore everything
*
# unignore folders
!*/
# unignore files with an extension
# this blocks files with no extension, ie compiled binaries
!*.*

.idea/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test